# Week 1 handin

## 01 Assignment
Here is the text for the assignment linked to

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## 03 Solution part 1

In [52]:
# 1.1 Iterate a list of names to return a list of the names starting with H
my_list = ["Eko", "EkoFIVE", "EkoTEN", "TEKO", "ealon"]
print(my_list)

filtered = [name for name in my_list if name[0].lower() == "e"] 
print(filtered)

['Eko', 'EkoFIVE', 'EkoTEN', 'TEKO', 'ealon']
['Eko', 'EkoFIVE', 'EkoTEN', 'ealon']

In [51]:
# 1.2 In one line create a list of the numbers 1-100 to the power of 3

my_secList = [element**3 for element in list(range(0,100))]
print(my_secList)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

In [88]:
# 1.3 Iterate a list of names to create a list of tuples where the tuples first value is the length of 
# the name and the second is the name

my_list = ["Eko", "EkoFIVE", "EkoTEN", "TEKO", "ealon"]

my_modifiedList = [(len(element), element) for element in my_list]
print(my_modifiedList)

[(3, 'Eko'), (7, 'EkoFIVE'), (6, 'EkoTEN'), (4, 'TEKO'), (5, 'ealon')]

In [115]:
# 1.4 Iterate over each character in a string and get only those that are nummeric

nstr = "aa01w5s0ettE77a"

my_numericList = [element for element in nstr if element.isnumeric()]
print(my_numericList)

['0', '1', '5', '0', '7', '7']

In [121]:
# 1.4 Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice 
# (hint use 2 for loops in a single list comprehension)

diceOne = [1, 2, 3, 4, 5, 6]
diceTwo = [1, 2, 3, 4, 5, 6]

combos = [str(d1) +', ' + str(d2) for d1 in diceOne for d2 in diceTwo]
print(combos)

<class 'int'>
<class 'str'>
['1, 1', '1, 2', '1, 3', '1, 4', '1, 5', '1, 6', '2, 1', '2, 2', '2, 3', '2, 4', '2, 5', '2, 6', '3, 1', '3, 2', '3, 3', '3, 4', '3, 5', '3, 6', '4, 1', '4, 2', '4, 3', '4, 4', '4, 5', '4, 6', '5, 1', '5, 2', '5, 3', '5, 4', '5, 5', '5, 6', '6, 1', '6, 2', '6, 3', '6, 4', '6, 5', '6, 6']

## 04 Solution part 2

In [ ]:
# 2.1