# Week 3 handin

## 01 Assignment
Here is the text for the assignment linked to

## 02 Status
De fleste opgaver til solution 1 er lavet. Ekstra opgaver mangler. Filen ligger i Week_3_file.py

## 03 Solution part 1

In [1]:
# 1.1 generate random students and send them to csv file

from Week_3_file import Student, DataSheet, Course, createStudents, readStudents
createStudents(5)

In [2]:
# 1.2 read data from csv file and send it to a list

readStudents()

[['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lis',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lis',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 10'],
 ['Stud_name: Lilleth',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lilleth',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lilleth',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lilleth',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 10'],
 ['Stud_name: Lilleth',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lilleth',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Lilleth',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lilleth',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 10'],
 ['Stud_name: Bet',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Bet',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Bet',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Bet',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 10'],
 ['Stud_name: Bet',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Bet',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Bet',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Bet',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 7'],
 ['Stud_name: Lis',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 10'],
 ['Stud_name: Ek',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Ek',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Ek',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Ek',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 4'],
 ['Stud_name: Ek',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Ek',
  'course_name: Systems',
  'teacher: Eko',
  'ects: 5',
  'classroom: Room04',
  'grade: 4'],
 ['Stud_name: Ek',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Ek',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 4'],
 ['Stud_name: Ek',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Ek',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Systems',
  'teacher: Eko',
  'ects: 5',
  'classroom: Room04',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Andreas',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Andreas',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andreas',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andreas',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 4'],
 ['Stud_name: Andreas',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Andreas',
  'course_name: Systems',
  'teacher: Eko',
  'ects: 5',
  'classroom: Room04',
  'grade: 4'],
 ['Stud_name: Andreas',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andreas',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 4'],
 ['Stud_name: Andreas',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andreas',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Andra',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Andra',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andra',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andra',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 4'],
 ['Stud_name: Andra',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Andra',
  'course_name: Systems',
  'teacher: Eko',
  'ects: 5',
  'classroom: Room04',
  'grade: 4'],
 ['Stud_name: Andra',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andra',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 4'],
 ['Stud_name: Andra',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Andra',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Java Advanced',
  'teacher: Al',
  'ects: 15',
  'classroom: Room15',
  'grade: 2'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Algos',
  'teacher: Al',
  'ects: 20',
  'classroom: Room12',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Systems',
  'teacher: Eko',
  'ects: 5',
  'classroom: Room04',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Python',
  'teacher: Thomas',
  'ects: 30',
  'classroom: Room47',
  'grade: 4'],
 ['Stud_name: Lis',
  'course_name: Discrete Math',
  'teacher: Eko',
  'ects: 15',
  'classroom: Room39',
  'grade: 10'],
 ['Stud_name: Lis',
  'course_name: Python Advanced',
  'teacher: Thomas',
  'ects: 10',
  'classroom: Room88',
  'grade: 4']]

In [3]:
# 1.3

## 04 Solution part 2

In [4]:
# 2.1